@using RecordLabel
@using RecordLabel.Content
@model IEnumerable<RecordLabel.Content.Metadata.MediaType>

@System.Web.Optimization.Styles.Render("~/Css/Admin")

@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewBag.Title = "Media Types";
}

<ul class="plain-list">
    @foreach (RecordLabel.Content.Metadata.MediaType item in Model)
    {
        <li>
            @Html.DisplayFor(model => item, "ListItems/MediaTypeListItem")
        </li>
    }
</ul>