@*TODO: Merge it with Image.cshtml*@
<div name="Image" data-id="" class="inline-block">
    <div name="preview">
        <div class="margin-auto">
            <img name="preview"/>
        </div>
        <span class="chooseimg z-index-1000">@RecordLabel.Web.Localization.AdminApplicationLocalization.ChooseAnImage</span>
        <div class="chooseimg hover-bgcolor"/>
    </div>
    <input type="file" name="image" class="hide"/>
    <input type="hidden" name="imageOrder" value="" />
</div>