.create-new-btn-container {
    margin-bottom: 20px;
}
/*Dangus Theme*/
/*body {
    background-color: #717A67 !important;
}

a {
    color: #033 !important;
}

a:hover {
    color: #008f8f !important; //#008f64;
}

.list-item {
    background-color: #C5CABD !important;
}*/