h1 {
    padding-left: 30px;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: table-cell;
}

section.new-releases .item {
    padding-right: 5px;
    padding-bottom: 5px;
    height: 260px;
    width: 220px;
    display: inline-flex;
}
section.new-releases .list-item {
    height: 100%;
    width: 100%;
    background-color: transparent;
}
section.new-releases .list-item:hover {
    background-color: white;
}
section.new-releases {
    text-align: center;
    overflow: hidden;
    height: 260px;
}
@media (max-width: 558px) {
    section.new-releases {
        zoom: 60%
    }
}
section.new-releases .item .title {
    text-transform: uppercase;
    font-size: 1.2em;
}
section.new-releases .item .title,
section.new-releases .item .subtitle {
    line-height: 1.1em; /*shared with list-item from release list (common?)*/
    padding-top: .2em;
}
section.new-releases .item .subtitle {
    font-weight: 600;
    font-style: italic;
    font-size: 1.2em;
}

section.new-releases > .title,
section.news .title {
    font-size: 24px;
    text-transform: uppercase;
}
section.news .title {
    padding-left: 20px;
}

section.navigation .menu-btn {
    display: block;
    font-size: 2em;
    font-weight: bold;
    border-color: #00755e;
    overflow: hidden;
}

.front-page-menu { 
    text-transform: uppercase;  
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 20px;
    padding-right: 20px;
}
.front-page-menu > a {
    width: 100%;
}
.front-page-menu > a:not(:last-child) {
    margin-bottom: 0.2em;
}