@using RecordLabel
@using RecordLabel.Content
@model IEnumerable<Artist>

@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewBag.Title = "Artists";
    bool adminMode = Global.IsAdminMode;
}

<ul class="media-list">
    @foreach (Artist item in Model)
    {
        <li>
            @Html.ListItemWithImage(item, adminMode)
        </li>
    }
</ul>