@using RecordLabel
@using RecordLabel.Content

@model IEnumerable<RecordLabel.Content.Metadata.Attribute>

@System.Web.Optimization.Styles.Render("~/Css/Admin")

@{
    Layout = "~/Views/Shared/_ListLayout.cshtml";
    ViewBag.Title = RecordLabel.Web.Localization.AdminApplicationLocalization.Attributes;
}

<ul class="plain-list">
    @foreach (RecordLabel.Content.Metadata.Attribute item in Model)
    {
        <li>
            @Html.DisplayFor(model => item, "ListItems/AttributeListItem")
        </li>
    }
</ul>