@model RecordLabel.Content.Article

<header>
    <div class="list-item-title">
        @Model.Date.ToString("MMMM dd yyyy")
        <div>
            @Html.ActionLink(Model.Title, "View", "Articles", new { id = Model.Id }, null)</div>
        </div>
</header>