@using RecordLabel.Content
@using RecordLabel.Web.Localization

@model Artist

@{
    ViewBag.Title = ApplicationLocalization.Artists;
}

<header>
    @Html.ActionLink(Model.Name, "Index", new { id = Model.Id }, new { @class = "title on-top" })
</header>
<div>
    @if (Model.Releases != null)
    {
        <span>@ApplicationLocalization.Releases:</span>
        <span class="text-muted on-top">
            @foreach (Release item in Model.Releases.OrderBy(i => i.Date))
            { 
                <span class="h-list-item">@Html.ActionLink($"{item.Title} ({item.Date})", "View", "Release", new { id = item.Id }, null)</span>
            }
        </span>
    }
</div>